header{
	position: fixed;
	top: 0;
	width: 100%;
	height:78.5px;
	line-height:78.5px;
	background-color: rgba(255,255,255,0.9);
	z-index: 8;
}
.headImg{
	width: 132.5px;
	height: 38.5px;
	background-image: url(../img/logo1.png);
	background-position: center;
	background-repeat:no-repeat;
	background-size: cover;
	margin-top: 20px;
	margin-left: 15.3vw;
}
.nav{
	font-size: 15px;
	margin-right: 20vw;
}
.nav > div{
	margin: 0 14px;
	cursor: pointer;
}
.nav > div:hover{
	color: #2CB1DA;
}
.downLoad{
	position: fixed;
	top: 0;
	left: 80vw;
	height:94.5px;
	width:101px;
	background-image: url(../img/download2.png);
	background-position: center;
	background-repeat:no-repeat;
	background-size: cover;
	z-index: 10;
	cursor: pointer;
	cursor: -ms-pointer;
}
.content{
	position: relative;
	width: 100%;
	height: 200vw;
	background-image: url(../img/mainImg.jpg);
	background-position: center;
	background-repeat:no-repeat;
	background-size: cover;
}
.ios,.android{
	position: absolute;
	width: 11.6vw;
	height: 4vw;
	background-position: center;
	background-repeat:no-repeat;
	background-size: cover;
}
.ios{
	background-image:url(../img/ios.png);
	top: 10.8vw;
	right: 24.5vw;
	cursor: pointer;
	cursor: -ms-pointer;
}
.ios:hover{
	background-image:url(../img/ios2.png);
	transition:all 1s ease;
	-moz-transition:all 1s ease;
	-webkit-transition:all 1s ease;
	-o-transition:all 1s ease;
}
.android{
	background-image: url(../img/android2.png);
	top: 15.3vw;
	right: 24.5vw;
	cursor: pointer;
	cursor: -ms-pointer;
}
.android:hover{
	background-image:url(../img/android3.png);
	transition:all 1s ease;
	-moz-transition:all 1s ease;
	-webkit-transition:all 1s ease;
	-o-transition:all 1s ease;
}
.qrcodeImg{
	  position:absolute;
		display:none;
		top:78.5px;
		width:358px;
    height:255px;
		right:7%;
   	background:url(../img/erweimaqu.png) no-repeat center /358px 255px;
		z-index:7;
}
