body,html,div,ul,p{
  margin:0;
  padding:0;
}

html{
  width:100%;
  height:100%;
}
body{
  font-family: "Microsoft YaHei";
  height:100%;
}
.main_wrap{
  height:100%;

  /* background:url("../img/bg.jpg") no-repeat center /100% 100%; */
  display:flex;
  align-items:center;
}
.main{
  width:100%;
  position: relative;
  z-index:11;
}
.logo{
  width:106px;
  height:134.5px;
  background:url('../img/logo.png') no-repeat
  center /100% 100%;
  margin:0 auto;
  margin-top:10%;
}
.simpleBrif{
  font-size:14px;
  text-align:center;
  margin-top:10%;
  color:#707c7f;
}
.simpleBrif>div:last-child{
  margin-top:2px;
}

.downloadButton{
  padding: 12px 46px;
  width:55%;
  margin:0 auto;
  text-align:center;
  background:#7fcadf;
  border-radius:40px;
  font-size:14px;
  color:#fff;
  box-sizing:border-box;
  margin-top:4%;
}

.downloadInfo{
  width:62%;
  margin:0 auto;
  margin-top:8%;
  padding:10px;
  padding-left:18px;
  background:rgba(255,255,255,0.6);
  border-radius:8px;
  font-size:12px;
  font-weight:500;
  color:#3d3d3d;
  box-sizing:border-box;
}

.loading{
display: none;
width:35px;
height:35px;
margin:0 auto;
border:2px solid #7fcadf;
margin-top:5%;
border-top-left-radius:3em;
border-bottom-left-radius:3em;
-webkit-border-top-left-radius:5em;
-webkit-border-bottom-left-radius:5em;
border-top-color:transparent;
border-bottom-color:transparent;
border-right-color:transparent;
-webkit-animation:load 0.6s linear 0s infinite;
}

@-webkit-keyframes load{
     0%{transform:rotate(0deg);}
     100%{transform:rotate(360deg);}
 }
.downloadInfo p{
  margin-bottom:5px;
}

.downloadInfo span{
  color:#14aadd;
}

.downloadInfo p:last-child{
  margin-bottom:0px;
}

/*toan*/
.toAn_wrap{
  height:100%;
  /* background:url('../img/toan.jpg') no-repeat
  center /100% 100%; */
  display:flex;
  align-items:center;
}

.webtip{
  position: absolute;
  top:1%;
  right:2%;
  width:180px;
  height:84px;
  background:url('../img/webtip.png') no-repeat
  center /100% 100%;
}






/*安卓*/
.android_left{
    position:absolute;
    width:3.95rem;
    height:3.45rem;
    top:0;
    left:0;
    background:url("../img/android_left-top.png") no-repeat center;
    background-size:contain;
    z-index:10;
}

.android_bottom{
  width:100%;
  height:5.52rem;
  position:absolute;
  bottom:0;
  background:url("../img/android_bottom.png") no-repeat bottom ;
  background-size:contain;
  z-index:10;
}

.ios_left{
  position:absolute;
  top:0;
  left:0;
  width:3.44rem;
  height:3.17rem;
  background:url("../img/ios_left-top.png") no-repeat center;
  background-size:contain;
  z-index:10;
}




/*ios*/
.ios_bottom{
  position:absolute;
  bottom:0;
  width:100%;
  height:7.14rem;
  background:url("../img/ios_bottom.png")
  no-repeat bottom;
  background-size:contain;
  z-index:10;
}



.iosTrue{
  width:100%;
  height:1.8rem;
  background:rgba(0,0,0,0.6);
  position:fixed;
  z-index:9999;
  padding:0.2rem 0.2rem 0rem 0.2rem;
  box-sizing: border-box;

}
.iosTrue_info{
   font-size:12px;
   display:flex;
   align-items:center;
   /* justify-content: space-between; */
   color:#fff;
}
.iosTrue_info>img{
  width:0.8rem;
}

.iosTrue_button{
  font-size:12px;
  color:#dd4314;
  width:2rem;
  line-height:0.5rem;
  border-radius:0.5rem;
  background:#fff;
  text-align:center;
  margin:0 auto;
  margin-top:0.11rem;
}

/* iostrue页面 */

.iostrue_head{
  height:4rem;
  background:#7fcadf;
  font-size:36px;
  color:#fff;
  display: flex;
  align-items:center;
}

.iostrue_back{
  margin-left:0.5rem;
  width:1rem;
  height:2rem;
  background:url(../img/back.png) no-repeat center /contain;
}
.iostrue_content{
  padding:1rem 0.5rem;
  box-sizing: border-box;

}


.iostrue_lan_content{
  width:90%;
  border-radius:5px;
  padding:1rem;
  box-sizing:border-box;
  font-size:14px;
  background-color:#e9e9e9;
  margin:0 auto;
}
.iostrue_step_content{
  width:88%;
  margin:0 auto;
  font-size:14px;
  margin-top:1rem;
}
.iostrue_step_content>img{
  width:100%;
  margin-top:0.8rem;
}
.iostrue_qiu{
  width:1.6rem;
  line-height:1.6rem;
  background:#7fcadf;
  border-radius: 100%;
  color:#fff;
  text-align:center;
  display:inline-block;
  margin-right:0.5rem;
}
.toTrue{
  width:10rem;
  line-height:2.5rem;
  background:#7fcadf;
  text-align: center;
  margin:0 auto;
  color:#fff;
  font-size:18px;
  letter-spacing: 0.05rem;
  border-radius:0.5rem;
  /* margin-top:0.5rem; */
  margin-bottom:1.2rem;
}
